body {
  background-color: #f0ffff;
  background-image:images/bloc logo.png
  color: #0000FF;
}

a:link {
  text-decoration: none;
}

figcaption{
  font-family: sans-serif;
  padding-top: 10px;
  line-height:1.25em;
}

h1 {
  color: #000000;
  font-family: sans-serif;
  font-size: 36px;
  font-weight:400;
  padding-top: 10px;
  line-height:normal;
  text-transform: capitalize;
}

h3 {
  color: #000000;
  font-family: sans-serif;
  font-size: 20px;
  font-weight:200;
  padding-top: 10px;
  line-height:1.1em;
}

p {
  color: #000000;
  font-family: sans-serif;
  font-size: 14px;
  font-weight:100;
  padding-top: 10px;
  line-height:1.75em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

li:hover {
  background-color: black;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
